.title {
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  margin: 70px 0 30px;
  text-transform: uppercase;
  color: #202123;
}
.title h2 {
  font-size: 22px;
  color: #123493;
  margin-top: 5px;
}
